*.3gp
*.3GP
*.mkv
*.MKV
*.m4v
*.M4V
*.m2ts
*.avi
*.ts
*.mts
*.MTS
*.MPG
*.mpg
*.flv
*.mp4
*.MP4
*.mov
*.MOV
*.wmv
*.WMV

*.m4a
*.M4A
*.mp3
*.MP3
*.flac
*.FLAC
*.ogg
*.OGG
*.mpc
*.MPC

list.info
stat.info
.directory

